@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #000000;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}

h2 {
	font-size: 210%;
	color: #4CADAD;
	text-align: center;
	line-height: 250%;
}

h3 {
	font-size: 160%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 600; 
	color: #FFFFFF;
}

p {
	font-family: 'Alegreya', sans-serif;
	color: #FFFFFF;
	font-size: 110%;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}

header {
	background-color: #000000;
	width: 100%;
	height: 86px;
}

#header-inner{
	margin: 0 auto;
}

#logo{
	margin: 10px 0 0 10px;
	float: left;
	width: 200px;
	height: 92px;
	background: url(img/JS.png) no-repeat center;

}
/*--- Start Navigation--*/
nav{
	float: right;
	padding: 25px 20px 0 0;
}

#menu-icon {
	display: hidden;
	width: 50px;
	height: 50px;
	background: url(img/nav.png) center;
}

a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}

ul {
	list-style-type: none;
}

nav ul li{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 160%;
	display: inline-block;
	float: left;
	padding: 20px 20px 0 0;
}
nav ul li a{
	color: #FFFFFF;
	text-decoration: none
}
nav ul li a:hover {
	color: #4CADAD;
}

/*---End Navigation---*/

.banner{
	width: 100%;
	background-color: #000000;
}
.banner-inner {
	max-width: 1920px;
	margin: 0;
}

/*---End Banner---*/

.full{
	background-color: #000000;
	padding: 2% 10%;
}

/*--End Full--*/

.break{
	width: 100%;
	background-color: #000000;
}

.one-half{
	float: left;
	width: 100%;
	background-color: #000000;
}

article {
	float: left;
	margin: 0 auto;
	width: 40%;
	height: auto;
	padding: 0 0 0 10%;
}

aside {
	float: right;
	margin: 0 auto;
	width: 40%;
	height: auto;
	padding: 0 10% 0 0;
}

footer{
	background-color: #000000;
	width: 100%;
}

footer p{
	font-family: 'Alegreya', sans-serif;
	text-align: center;
	padding:  0;
	color: #C3D7DF;
	line-height: 200%;
}

.social {
	list-style-type: none;
	text-align: center;
}

.social li{
	display: inline;
}

.social i{
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 2% 5%;
	color: #4CADAD;
}

#contact{
	text-align: center;
	color: #FFFFFF;
}

.margin-container{
	width: 80%;
	height: 110px;
	margin: 2% 10%;
}

.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
}

.one-fourth i {
	font-size: 300%;
}

.one-fourth a:visited {
	color: #FFFFFF;
}
.one-fourth a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.one-fourth a:hover {
	color: #4CADAD;
}

.one-fourth i a:hover{
	color: #4CADAD;
}

footer p{
	font-family: 'Alegreya', sans-serif;
	font-size 50%;
}